* {
  font-family: 'Lato', sans-serif;
}

.clear{
  clear: both;
}

.bg-primary-color {
  background-color: #235857;
}

.bg-secondary-color {
  background-color: #ece8e2;
}

.bg-dark-color {
  background-color: #050505;
}

.primary-color {
  color: #050505;
}

.secondary-color {
  color: #7a7a7a;
}

/* NAVBAR */
#navbar {
  border-bottom: 1px solid #7a7a7a;
  color: #fff; 
}

#navbar a {
  color: #fff;
}

#navbar a:hover {
  color: #7a7a7a;
}

#navbar .active {
  border-bottom: 1px solid #fff;
}


.navbar-brand {
  display: flex;
}

.navbar-brand img {
  width: 130px;
 
 
}

.imglang{
 margin-right: 2.5em;
}
.navbar-brand span {
  font-weight: 700;
  font-size: 1.5em;
  margin-left: 0.5em;
}

#navbarNavDropdown .navbar-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

#navbarNavDropdown .nav-item {
  margin: 0 1em;
}

/* SLIDER */
#slider {
  margin-top: 8.1em;
  margin-bottom: 1em;
}

#slider .carousel-caption {
  bottom: 3em;
}

#slider .carousel-caption h5 {
  font-size: 2.5em;
  text-shadow: #000 2px 2px;
}

.btn {
  border-radius: 5px;  
  background-color: #1f4242;
}

.btn:hover{
  border-radius: 5px;  
  background-color: #1f4242; 
 
}


#slider .btn {
  padding: 0.3em 0.8em;
  font-size: 1em;
  margin-top: 1em;
}

.carousel-control-prev,
.carousel-control-next {
  opacity: 0.7;
}

.carousel-control-prev i,
.carousel-control-next i {
  color: #111;
  font-size: 3em;
}

.carousel-indicators [data-bs-target] {
  background-color: #222;
  opacity: 0.8;
}

.carousel-indicators .active {
  background-color: #000;
}

@media (min-width: 768px) {
  
  #slider{
    margin-top: 0em;
  }
  
  #slider .carousel-caption {
    bottom: 30em;
  }
  #slider .carousel-caption h5 {
    font-size: 4em;
    text-shadow: #000 2px 3px;
  }
  #slider .btn {
    padding: 0.6em 1.6em;
    font-size: 1.2em;
    margin-top: 1em;
  }
  .carousel-indicators {
    bottom: 7em;
  }
}

/* MINI BANNERS */
#mini-banners {
  margin-bottom: 4em;
}

#mini-banners .card {
  padding: 2em 0.3em;
  border-radius: 0;
}

#mini-banners i {
  font-size: 4em;
}

#mini-banners .card-title {
  margin-bottom: 1.5em;
}

#mini-banners .btn {
  margin-top: 1.5em;
  padding: 0.6em 1.2em;
}

#mini-banners .card {
  margin-bottom: 1em;
}

@media (min-width: 768px) {
  #mini-banners {
    margin-top: -6em;
  }
}

/* DESTAQUES */
#featured-container {
  margin-bottom: 4em;
}

.title {
  font-size: 1.75em;
  margin-bottom: 0.4em;
  position: relative;
}

.title:before {
  width: 75px;
  border-top: 4px solid #7a7a7a;
  content: '';
  position: absolute;
  bottom: 2.5em;
}

#featured-images {
  margin-top: 2em;
}

#featured-images .col-md-4 {
  position: relative;
  cursor: pointer;
}

#featured-images .col-md-4:hover > .banner-content {
  opacity: 0.8;
}

#featured-images .banner-content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0.6;
  transition: 0.5s;
}

@media (min-width: 768px) {
  .title {
    font-size: 2.4em;
  }

  .title:before {
    bottom: 1.5em;
  }

  #featured-images .banner-content {
    opacity: 0;
  }

}

/* INFO Pagina Inicial */
#info-content {
  margin-bottom: 4em;
  padding: 4em 1em;
}

#info-numbers {
  margin: 1.5em 0;
}

#info-banner {
  align-items: center;
  display: flex;
  margin-bottom: 2.5em;
}

#info-numbers h3 {
  font-size: 3em;
}

#btn-saber-mais{
display: block;
margin: 0 auto;
width: 300px;

}

#btn-epro{
  display: block;
  margin-top: 50px;
  
  
  }

.bt-epro{
  align-items: center;
  display: block; 
  width: auto;
  margin-top: 2em;
}

  .img-responsive{
    margin: 0 auto;
    max-width: 350px;
    max-height: 250px;
  }

.li-contact{   
   margin-top: 2.5em;
   font-size: 35px;
   color: #296868;
}


.title-service-eepro{
  text-align: center;
   margin-bottom: 2em;
}



  @media (min-width: 768px){
    #img-content{
      height: 80vh;
    }
  }


@media (min-width: 768px) {
  #info-content {
    padding: 3.5em;
  }

@media(max-width: 768px){
  #btn-eepro-info{ /* Btn Services*/
    margin-top: 3.5em;
  }
  #btn-eepro-info2{ /* Btn Services*/
    margin-top: -0.4em;
  }

  #title-service{
    font-size: 40px;
  }

}
  
  #btn-saber-mais{
    display: block;
    margin: 0 auto;
    margin-top: 25px;;
    width: 300px;
    
    }

}

/* FOOTER TOP */
#footer {
  padding: 3em 2em;
}

#footer-top {
  margin-bottom: 2em;
}

#footer-top,
#footer-top i {
  color: #fff;
}

#social-icons {
  text-align: right;
}

#social-icons i {
  margin-right: 1em;
  font-size: 1.5em;
  cursor: pointer;
}

#social-icons i:hover {
  color: #7a7a7a;
}

/* FOOTER DETAILS */
#footer-details {
  margin-bottom: 3em;
}

#news-container,
#contact-container,
#links-container {
  padding: 0;
  border: 0;
  margin-bottom: 2em;
}

#footer-details h4 {
  color: #fff;
  margin-bottom: 1.5em;
}

#news-container input {
  border-radius: 0;
  border: none;
}

#links-container li {
  margin-bottom: 0.5em;
}

#links-container a {
  text-decoration: none;
}

#links-container a:hover {
  color: #fff;
}

/* FOOTER BOTTOM */
#footer-bottom {
  border-top: 1px solid #7a7a7a;
  padding-top: 2em;
}

#footer-bottom i {
  color: #e61e10;
}

#li-about2{
  font-size: 18px;
}

@media (min-width: 768px) {
  #news-container {
    padding-right: 2em;
  }

  #contact-container {
    padding: 0 2em;
    border-left: 1px solid #7a7a7a;
    border-right: 1px solid #7a7a7a;
  }

  #links-container {
    padding-left: 2em;
  }
  #li-about{
    font-size: 19px;
  }
  #li-about2{
    font-size: 25px;
  }
  #p-about{
    font-size: 19px;
  }
}



/* About Us Section */
#about-us{ /*About Us Section*/
  margin-top: 7em;
}

#referencias{
  margin-top: 10em;
}

/* Team Section */
#team{
  margin-top: 9em;
}

#title-team{
  font-size: 28px;
  text-align: center;
  font-weight:450; 
}

#p-team{
  font-size: 20px;
  text-align: center;
  font-weight:420; 
}

#cont-title-team{
  margin-bottom: 2.5em;
}

.fone-number{
  color: #235857;
  text-decoration: none;
  font-size: 18px;
}

.fone-number:hover{
  color: #235857;
  text-decoration: none;
  font-size: 18px;
}

.fone-number2{
  font-size: 25px;
  text-decoration: none;
  color: #296868;
}

.fone-number2:hover{
  font-size: 25px;
  text-decoration: none;
  color: #296868;
}

.mail-contact2{
  color: #235857;
  text-decoration: none;
  font-size: 30px;
}

.mail-contact2:hover{
  color: #235857;
  text-decoration: none;
  font-size: 30px;
}

.mail-contact{
  color: #235857;
  text-decoration: none;
  font-size: 20px;
}

.mail-contact:hover{
  color: #235857;
  text-decoration: none;
  font-size: 20px;
}

#title-property{
  margin-top: 1em;
}

#mini-banners2 {
  margin-bottom: 0em;
}

#mini-banners2 .card {
  padding: 2em 0.3em;
  border-radius: 0;
}

#mini-banners2 i {
  font-size: 4em;
}

#mini-banners2 .card-title {
  margin-bottom: 1.5em;
}

#mini-banners2 .btn {
  margin-top: 1.5em;
  padding: 0.6em 1.2em;
}

#mini-banners2 .card {
  margin-bottom: 1em;
}


/** Organização e Planejamento Sessão Serviços*/

#li-planejamento{
  list-style: none; 
  text-decoration: none;
}

.li-planejamentos a{
  list-style: none; 
  text-decoration: none;
  margin-top: 1em;
  color: #235857;
}

.li-planejamentos a:hover{
  color: #2B7473;
}

#li-manutencao{
	margin-right: 2.5em;
}

#li-investimento{
	margin-left: 0.5em;
}

#planejamento2 li{
  list-style: none; 
  text-decoration: none;
}

#card-planejamento{	
	height: auto;
	margin-top: 1em;
	padding: 10px;
}
#card-planejamento li{	
	margin-top: 0.7em;
}
#planejamento2{
  margin-top: 4em;
}

#planejamento{
  margin-top: 7em;
}

@media (min-width: 768px) {
#planejamento{
font-size: 18px;
margin-top: 8em;
}
#planejamento2{
  margin-top: 3em;
}}	

.references-cards{
 margin-top: 3em;    
}

.card-reference{
  padding: 0px;
  margin-bottom: 2em;
}

.bt-references:hover{
  background-color: #008000;
}